
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log


*.sqlite3
db.sqlite3


*/migrations/*
!*/migrations/__init__.py


.env
*.env


venv/
env/
ENV/
.venv/
.python-version


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak


node_modules/
dist/
build/


*.tmp
*.temp
.cache/
__cache__/


*.log
logs/
